{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title>COOLYEAH - College Course Organizer</title>
    <meta name="title" content="COOLYEAH">
    <meta name="description" content="A college course organizer to save yourselves from headache!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jojostory5.herokuapp.com/">
    <meta property="og:title" content="COOLYEAH">
    <meta property="og:description" content="A college course organizer to save yourselves from headache!">

    <!-- Bootstrap CSS and Scripts -->
    <link rel="stylesheet" href="{% static 'story5/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom justify-content-between">
        <a class="navbar-brand" href="/">COOLYEAH</a>
        <a href="{% url 'story5:add_course' %}" class="btn btn-primary">Add Course</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small fixed-bottom">
        <div class="footer-copyright text-center py-3">
            Made by Jojo, 2020
        </div>
    </footer>
</body>
</html>